@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html {
   scroll-behavior: smooth  ;
}


header {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    background-attachment: scroll; 
    background: cover;
}


header .fond img {
    width: 100%;
    filter: brightness(40%);
    height: 100%;
}

header .fond .text {
     position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    z-index: 2; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -620px;
    padding: 0 20px;
}

header .fond .text p{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    word-spacing: 10px;
    margin-left: -15px;
}


header .fond .text h1 {
    color: white;
    font-size: 60px;
    margin: 10px 0;
}


.text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.text.visible {
    opacity: 1;
    transform: translateY(0);
}



header nav {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
     position: relative;
    transform: translateY(-50%);
    text-align: center;
    z-index: 2;
    
}

header nav ul {
    display: flex;
    margin-top: -645px;
}

header nav ul li {
    margin: 0 15px;
}


header nav ul li .icon {
    color: #E74C3C;
}

header nav ul li a {
    display: block;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 45px;
    letter-spacing: 5px;
    transition: color 0.5s ease;
   
}

header nav ul li a:hover {
    color: #e95f50;
}

header .logo img {
    margin-left: -20px;
}

header nav.show {
    display: flex;
    transform: translateY(0); 
}

.menu-icon {
    display: none; 
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    cursor: pointer;
}


.menu-icon i {
    font-size: 40px;
    color: white;
    margin: 5px 25px; 
}

.scroll-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 85px;
    border: 2px solid white;
    border-radius: 50px; 
    overflow: hidden; 
    cursor: pointer;
    position: absolute;
    bottom: 150px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    
}

.chevron-down::before,
.chevron-down::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    position: absolute;
    animation: moveFullHeight 1.5s infinite ease-in-out; 
    margin-left: -5px;
    margin-top: -20px;
}

.chevron-down::before {
    top: 35%; 
}

.chevron-down::after {
    top: 50%; 
}


@keyframes moveFullHeight {
    0%, 100% {
        transform: translateY(0) rotate(45deg);
    }
    50% {
        transform: translateY(30px) rotate(45deg); 
    }
}

@media only screen and (max-width: 1024px) {
    .menu-icon {
        display: block;
        position: absolute;
        top: 25px;
        right: 25px;
        z-index: 3;
        cursor: pointer;
    }
    
    header nav {
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.95);        ;
        width: 100%;
        height: 95vh;
        z-index: 2;
        transition: transform 0.3s ease-in-out;
        transform: translateY(-100%); 
    }
    header nav ul {
        flex-direction: column;
        text-align: center;
        margin-top: 0;
    }
    
    header nav ul li {
        margin: 20px 0;
    }
    
    header nav ul li a {
        color: white;
        font-size: 24px;
        padding: 10px;
    }

    header .fond {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .fond img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        z-index: 1;
        filter: brightness(40%);
    }

    header .fond .text {
        position: relative;
        z-index: 2;
        padding: 0 40px;
        text-align: center;
       
    }
    
    header .fond .text .span {
        display: none;
    }

    .scroll-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 90px;
        border: 2px solid white;
        border-radius: 50px; 
        overflow: hidden; 
        cursor: pointer;
        position: absolute;
        bottom: 90px; 
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        
    }
    

}

/* Ajustements pour les petits écrans (smartphones) */
@media only screen and (max-width: 768px) {
    header .fond .text {
        text-align: center;
    }

    header .fond .text h1 {
        font-size: 50px;
    }

    header nav ul {
        top: 10px;
    }
   
}

/* Pour les très petits écrans (petits smartphones) */
@media only screen and (max-width: 480px) {
    header .fond .text h1 {
        font-size: 45px;
    }

    header .fond .text p {
        font-size: 15px;
    }

    header nav ul {
        top: 10px;
    }
  
}


.services {
    height: 100vh;
}

.services .fond {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    z-index: 1;
}

.services .contend_text {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}

.services .contend_text h1 {
    font-size: 50px;
    color: #222222;
    font-weight: 700;
}

.services .contend_text p {
    color: #8F8F8F;
    font-size: 30px;
    position: relative;
}

.services .contend_text p::after {
    content: "";
    display: block;
    width: 3%; 
    height: 5px;
    background-color: #E74C3C;
    position: absolute;
    bottom: -50px;
    left: 905px; 
}

.services .liste li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -550px;
    margin-left: 300px;
    
}

.services .liste1 .icon i {
    margin-left: 370px;
    margin-top: 50px;
    font-size: 20px;
    color: #E74C3C;
    border: 2px solid;
    border-radius: 300px;
    padding: 28px;
    font-weight: 500;
}

.services .liste1 .text {
    margin-top: -80px;
}

.services .liste1 .text p {
    color: #8F8F8F;
    padding-top: 13px;
}


.services .liste1 .text h1 {
    font-weight: 600;
    font-size: 20px;
}