@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


header {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    background-attachment: scroll; 
    background: cover;
}



header .fond img {
    width: 100%;
    filter: brightness(40%);
    height: 100%;
}

header .fond .text {
     position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    z-index: 2; /* Assure que le texte est visible au-dessus de l'image */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -620px;
}

header .fond .text p{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    word-spacing: 10px;
    margin-left: -15px;
}

header .fond .text span {
      word-spacing: 5px;
         
}
header .fond .text h1 {
    color: white;
    font-size: 60px;
    margin: 10px 0;
}


.text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 3s ease-out, transform 0.6s ease-out;
}

.text.visible {
    opacity: 1;
    transform: translateY(0);
}

header nav {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
     position: relative;
    transform: translateY(-50%);
    text-align: center;
    z-index: 2;
    
}

header nav ul {
    display: flex;
    margin-top: -645px;
}

header nav ul li {
    margin: 0 15px;
}


header nav ul li .icon {
    color: #E74C3C;
}

header nav ul li a {
    display: block;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 45px;
    letter-spacing: 5px;
    transition: color 0.5s ease;
   
}

header nav ul li a:hover {
    color: #e95f50;
}

header .logo img {
    margin-left: -20px;
}



.menu-icon i:hover {
    color: #E74C3C;

}


.scroll-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 90px;
    border: 2px solid white;
    border-radius: 50px; 
    position: relative;
    margin: 0 auto;
    margin-top: 70px;
    overflow: hidden; 
    cursor: pointer;
}

.chevron-down::before,
.chevron-down::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    position: absolute;
    animation: moveFullHeight 1.5s infinite ease-in-out; 
    margin-left: -5px;
    margin-top: -20px;
}

.chevron-down::before {
    top: 35%; 
}

.chevron-down::after {
    top: 50%; 
}


@keyframes moveFullHeight {
    0%, 100% {
        transform: translateY(0) rotate(45deg);
    }
    50% {
        transform: translateY(30px) rotate(45deg); /* Mouvement vers le bas */
    }
}

.service {
    height: 100vh;
}

