@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}


header {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    background-attachment: scroll; 
    background: cover;
}


header .fond img {
    width: 100%;
    filter: brightness(40%);
    height: 100%;
}

header .fond .text {
     position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    z-index: 2; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -620px;
    padding: 0 20px;
}

header .fond .text p{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    word-spacing: 10px;
    margin-left: -15px;
}

header .fond .text span {
      word-spacing: 5px;
         
}
header .fond .text h1 {
    color: white;
    font-size: 60px;
    margin: 10px 0;
}


.text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.text.visible {
    opacity: 1;
    transform: translateY(0);
}



header nav {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
     position: relative;
    transform: translateY(-50%);
    text-align: center;
    z-index: 2;
    
}

header nav ul {
    display: flex;
    margin-top: -645px;
}

header nav ul li {
    margin: 0 15px;
}


header nav ul li .icon {
    color: #E74C3C;
}

header nav ul li a {
    display: block;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 45px;
    letter-spacing: 5px;
    transition: color 0.5s ease;
   
}

header nav ul li a:hover {
    color: #e95f50;
}

header .logo img {
    margin-left: -20px;
}



.menu-icon i:hover {
    color: #E74C3C;

}


.scroll-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 90px;
    border: 2px solid white;
    border-radius: 50px; 
    overflow: hidden; 
    cursor: pointer;
    position: absolute;
    bottom: 200px; /* Place le bouton au bas de l'écran */
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    
}

.chevron-down::before,
.chevron-down::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    position: absolute;
    animation: moveFullHeight 1.5s infinite ease-in-out; 
    margin-left: -5px;
    margin-top: -20px;
}

.chevron-down::before {
    top: 35%; 
}

.chevron-down::after {
    top: 50%; 
}


@keyframes moveFullHeight {
    0%, 100% {
        transform: translateY(0) rotate(45deg);
    }
    50% {
        transform: translateY(30px) rotate(45deg); /* Mouvement vers le bas */
    }
}

.service {
    height: 100vh;
}

@media (max-width: 1070px) {
    header {
    background-image: url('image/DALL·E 2024-08-17 06.31.51 - A top-down view of a very dark workspace with a sleek, minimalist setup. The scene includes a closed laptop, a monitor, and a mouse on a dark desk. Th.png');
    width: 100%;
    height: 100vh; 
    background-image: url('image/DALL·E 2024-08-17 06.31.51 - A top-down view of a very dark workspace with a sleek, minimalist setup. The scene includes a closed laptop, a monitor, and a mouse on a dark desk. Th.png');   
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
  
    }
    header .fond img{
        display: none; 
    }

}

@media (max-width: 810px) {
    .scroll-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 43px;
        height: 105px;
        border: 2px solid white;
        border-radius: 50px; 
        overflow: hidden; 
        cursor: pointer;
        position: absolute;
        bottom: 190px; /* Place le bouton au bas de l'écran */
        left: 52%;
        transform: translateX(-50%);
        z-index: 3;
        
    }

    header .fond {
        display: flex;
        align-items: center;
        margin-top: 820px;
        margin-left: 810px;
    }

    header::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4); /* 40% de noir pour assombrir le fond */
        z-index: 1; /* Placer le filtre derrière le texte */
    }
    
    header .fond .text h1 {
        font-size: 50px;
        color: white;
        letter-spacing: 6px;
    }

    header .fond .text p {
        font-size: 22px;
        color: white;
        font-weight: 600;
    }
}

@media (max-width: 412px) {
    .scroll-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 90px;
        border: 2px solid white;
        border-radius: 50px; 
        overflow: hidden; 
        cursor: pointer;
        position: absolute;
        bottom: 120px; /* Place le bouton au bas de l'écran */
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        
    }
    header .fond {
        display: flex;
        align-items: center;
        margin-top: 800px;
        margin-left: 422px;
    }
   
    header::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4); /* 40% de noir pour assombrir le fond */
        z-index: 1; /* Placer le filtre derrière le texte */
    }

    header .fond .text h1 {
        font-size: 35px;
        color: white;
        letter-spacing: 6px;
    }

    header .fond .text p {
        font-size: 15px;
        color: white;
        font-weight: 600;
    }
    
}

